.logo-container{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 30px;
    margin: 0px;
    margin-left: 4px;
    font-weight: 500;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}